.table{
  .table-action{
    a{
      color: #767797;
    }
  }
  .table-action a :hover{
    color: #57a9d8;
    background-color: white;
  }
  .w-date {
    min-width: 100px !important;
  }
  .mw-action {
    min-width: 100px !important;
  }
}

.table-link{
  color: #98a6ad;
  font-size: 1.2rem;
  display: inline-block;
}
