.developer-programming-language.my-2
  = select_tag 'developer[programming_language_ids][]',  options_for_select(programming_languages_collection), class: 'btn btn-light dropdown-toggle'
  = select_tag 'developer[leves][]', options_for_select(levels_collection), class: 'btn btn-light dropdown-toggle mx-3'
