.developer-framework.my-2
  = select_tag 'developer[frameworks[][id]]',  options_for_select(frameworks_collection), class: 'btn btn-light dropdown-toggle'
  = select_tag 'developer[frameworks[][level]]' , options_for_select(levels_collection), class: 'btn btn-light dropdown-toggle mx-3'
