.row {
  display: -webkit-box;
  display: flex;
  justify-content: center;
}

.row > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.head-cv{
  margin: 5px;
  width: 30%;
  margin-bottom: 50px;
}

.left-cv{
  padding: 10px;
  margin-top: 20px;
  margin-right: 5px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fafbfe;
  border-radius: 10px;
}

.right-cv{
  padding: 10px;
  margin-left: 5px;
}

.title-form{
  size: 22px;
  text-align: center;
  color: #545454;

  font-weight: 600;
  margin-bottom: 5px;
  border-bottom: solid midnightblue 1px;
}

.title{
  size: 22px;
  font-weight: 600;
  color: #545454;

  margin-bottom: 15px;
}

.item-cv{
  font-size: 16px;
  margin: 15px;
  color: #231c61;

  font-weight: 400;
  letter-spacing: 1.5;
}

.width-200{
  width: 200px;
}

.border-top{
  border-top: solid #020305 1px;
}

.box_shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
}
